<html>
    <head>
     
        <link rel="stylesheet" href="/static/wordstyle.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel = "stylesheet">
        
    </head>
    <body>
        {% block navbar %}
        <nav>
            <h1>Word List Program for Nathen Slater (Slate186) </h1>
            {{defin }}
            
        </nav>
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}
    </body>
    <footer>
        {%block footer%}
        <h6> <a href="https://github.com/Endames/Wordsapp-Project">Github </a></h6>
        {%endblock%}
    </footer>
</html>